@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.btn-primary {
  @apply bg-blue-500 rounded text-white transition duration-300 cursor-pointer px-8 py-2 mt-2;
}

.btn-primary:hover {
  @apply bg-blue-700 text-blue-700;
}

.btn-red {
  @apply bg-rose rounded text-white transition duration-500 cursor-pointer px-8 py-2 mt-2;
}

.btn-red:hover {
  @apply bg-red-700 text-white;
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-red:active {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-red:focus {
  outline: none;
}

.btn-outline-red {
  @apply bg-transparent rounded text-tosca transition duration-500 cursor-pointer px-8 py-2 mt-2;
  border: 1px solid #1d94a8;
}

.btn-outline-red:hover {
  @apply bg-red-700 text-white;
  border: 1px solid #a43f3c;
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-outline-red:active {
  border: 1px solid #a43f3c;
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-outline-red:focus {
  outline: none;
}

.btn-outline-tosca {
  @apply border rounded px-8 py-2 transition duration-500 cursor-pointer;
  border-color: #1d94a8;
  color: #1d94a8;
}

.btn-outline-tosca:hover {
  @apply border text-white;
  border-color: #1d94a8;
  background-color: #1d94a8;
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-outline-tosca:active {
  border-color: #1d94a8;
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-outline-tosca:focus {
  outline: none;
}

.item-clicked{
  @apply transition duration-300 cursor-pointer;
}
.item-clicked:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.item-clicked:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.campaign-text-setting {
  @apply mb-1 p-1;
}

.campaign-text-setting:hover {
  @apply text-red-600 bg-gray-50 rounded-sm transition duration-300 cursor-pointer;
}

.text-tosca {
  color: #1d94a8;
}

.text-silk {
  color: #f1ede4;
}

.text-rose {
  color: #a43f3c;
}

.text-sky {
  color: #a6dee8;
}

.text-copper {
  color: #a87b14;
}

.text-grey {
  color: #9F9F9F;
}

.bg-tosca {
  background-color: #1d94a8;
}

.bg-silk {
  background-color: #f1ede4;
}

.bg-rose {
  background-color: #a43f3c;
}

.bg-sky {
  background-color: #a6dee8;
}

.bg-copper {
  background-color: #a87b14;
}

.border-tosca {
  border-color: #1d94a8;
}

.bg-modal {
  background-image: url(../assets/modalbg.png);
}

.bg-jumbotron1{
  background-image: url(../assets/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-jumbotron2 {
  background-image: url(../assets/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-jumbotron3 {
  background-image: url(../assets/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-rose {
  border-color: #a43f3c;
}

h1,
h2,
h3 button,
a {
  font-family: "Nunito", sans-serif;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot:focus {
  height: 0px;
  width: 0px;
  background-color: #a87b14;
  border: none;
  padding: 7.5px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.outline-tosca {
  outline: 2px solid #1d94a8;
}

.fromtop-animation {
  animation: top 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

@keyframes top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.frombottom-animation {
  animation: bottom 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

@keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.fromleft-animation {
  animation: left 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

@keyframes left {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.fromright-animation {
  animation: right 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
  transform-origin: 100% 50%;
}

@keyframes right {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.appear-animation {
  animation: appear 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clamp {
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.card-campaign:hover {
  background-color: #d5dcdd;
}

.appear-animation {
  animation: appear 1s;
  animation-delay: 0.1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-hover:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

.card-hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

.card-hover:hover:before {
    transform: scale(2.15);
  }

.Toastify__toast--error {
  background-color: #a43f3c;
  @apply text-center font-bold;
}

.Toastify__toast--success {
  background-color: #1d94a8;
  @apply text-center font-bold;
}

tbody>tr:nth-child(odd) {
  background-color: #f1ede4;;
}

@media (min-width: 1024px) {
  .h-trend {
    height: 397px;
  }
}